
h1 {
  font-family: "Goudy Bookletter 1911", sans-serif;
  color: white;
  background-color: red;
}
p {
  color: blue;
  font-size: 16px;
  font: Helvetica;
}
ul {
  background-color: aqua;
  font-family: sans-serif;
}
h2 {
  color: white;
  background-color: Navy;
}
ol li {
  font-family: sans-serif;
}
.myrow {
  padding-top: 15px;
  padding-bottom: 15px;
}
.method img {
  height: 150px;
}
